<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title SAIGONREAL
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span

    block header
      header
        section.header-top
          .container
            .logo
              a(href='index.html')
                img(src='../img/logo.png')

            .banner-top
              img(src='../img/banner-top.png')
            
            .menu-btn
              .toggleMenu.d-block.d-lg-none
                i.mdi.mdi-menu
              .search-btn.d-block.d-md-none
                i.mdi.mdi-magnify
        section.menu.wow
          .container
            .main-menu
              ul.nav
                .nav-close
                  i.mdi.mdi-close.d-block.d-lg-none
                li.nav-item
                  a.nav-link(href='index.html') Trang chủ/Home
                li.nav-item
                  a.nav-link(href='san-pham.html') BĐS Bán/Sale
                li.nav-item
                  a.nav-link(href='san-pham.html') BĐS Cho thuê/RENT
                li.nav-item
                  a.nav-link(href='tin-tuc.html') Tin tức/NEWS
                li.nav-item
                  a.nav-link(href='tin-tuc.html') Kiến trúc/ARCHITECTURE
                li.nav-item
                  a.nav-link(href='tin-tuc.html') Xây dựng/construction

        .overlay-menu

    .hotline
      a(href='tel:123456789')
        i.mdi.mdi-phone
        
    article
      block article


    
    block footer
      section.footer
        .container
          .row
            .col-lg-4.col-sm-6
              .company
                img(src='../img/logo.png')
                ul
                  li Giấy ĐKKD số: 0313969106 Do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp lần đầu ngày 17/08/2016. 
                  li Giấy phép ICP số 16/GP-STTTT do Sở Thông tin và Truyền thông TP. Hồ Chí Minh cấp ngày 24 tháng 4 năm 2017.

            .col-xl-4.col-lg-4.col-sm-6
              .about
                h4 
                  | CÔNG TY BẤT ĐỘNG SẢN SAIGONREAL
                  i.mdi.mdi-chevron-down
                ul
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, debitis? Animi, explicabo reprehenderit voluptatibus corrupti quibusdam ullam modi nesciunt pariatur unde fuga asperiores architecto, exercitationem aperiam quasi illum culpa? Nobis.

            .col-xl-4.col-lg-4.col-sm-6
              .contact
                h4 
                  | Thông tin liên hệ
                  i.mdi.mdi-chevron-down
                ul
                  li
                    i.mdi.mdi-map-outline
                    | Địa chỉ: Lầu 7, tòa nhà Lutaco Tower, Số 173A Nguyễn Văn Trỗi, Phường 11, Q. Phú Nhuận, TP HCM

                  li
                    i.mdi.mdi-deskphone
                    | Hotline: 0903 236 862 - 0969 980 365
                  li
                    i.mdi.mdi-email-outline
                    | Email: saigonreal@gmail.com


              
          .copyright.text-center
            h5 Copyright @ 2019 Saigonreal. All Reserved. Designed by Tri Viet
          



                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/layout.js')
