extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Bất động sản bán
  
  section.product-page
    .container
      .main
        .title-page
          h4 bất động sản bán
        .main-zone
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
          .box-product  
            .box-product-img(title="Kéo sang để xem ảnh tiếp theo")
              .owl-carousel.slider-carousel.owl-theme
                .item
                  img(src='../img/product-1.png')
                .item
                  img(src='../img/news-1.png')
                .item
                  img(src='../img/search.png')
            .box-product-detail
              h4 
                a(href='chi-tiet-san-pham.html')
                  | Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ
              h5
                i.mdi.mdi-credit-card
                | Giá:
                span 750 triệu
              h5 
                i.mdi.mdi-floor-plan
                | Diện tích: 90m2
              h5
                i.mdi.mdi-map-marker-outline
                | Địa chỉ: Bình Thanh - TP.Hồ Chí Minh
            .box-product-date
              h6 27/06/2019
          
        .main-paging
          nav
            ul.pagination.justify-content-end
              li
                a.page-link(href='#', aria-label='Previous')
                  span(aria-hidden='true') «
                  span.sr-only Previous
              li
                a.page-link.active(href='#') 1
              li
                a.page-link(href='#') 2
              li
                a.page-link(href='#') 3
              li
                a.page-link(href='#', aria-label='Next')
                  span(aria-hidden='true') »
                  span.sr-only Next 

      .right
        .right-search
          .box-search-type
            h4.active bđs bán
            h4 bđs cho thuê
          .box-search-form
            input(type="text", placeholder="Nhập địa điểm, địa chỉ . . .")
            select
              option(value="") Loại bất động sản
              option(value="") Nhà
              option(value="") Đất
              option(value="") Biệt thự
            select
              option(value="") Tỉnh / Thành phố
              option(value="") TP. Hồ Chí Minh
              option(value="") Hà Nội
              option(value="") Đà Nẵng
            select
              option(value="") Quận / Huyện
              option(value="") Quận 1
              option(value="") Quận 2
              option(value="") Quận 3
            select
              option(value="") Phường / Xã
              option(value="") Phường An Phú
              option(value="") Phường Mỹ Đình 2
              option(value="") Phường Thạnh Mỹ Lợi
            select
              option(value="") Đường / Phố
              option(value="") Đường Nguyễn Thái Bình
              option(value="") Phố Huế
              option(value="") Đường Nguyễn Thị Định
            button(type="submit") Tìm kiếm
          
        .product-ward
          .title-page
            h4 BẤT ĐỘNG SẢN THEO QUẬN
          .product-ward-zone
            ul
              li
                a(href='san-pham.html') Bất động sản quận 1
              li
                a(href='san-pham.html') Bất động sản quận 2
              li
                a(href='san-pham.html') Bất động sản quận 3
              li
                a(href='san-pham.html') Bất động sản quận 4
              li
                a(href='san-pham.html') Bất động sản quận 5
              li
                a(href='san-pham.html') Bất động sản quận 6
              li
                a(href='san-pham.html') Bất động sản quận 7
              li
                a(href='san-pham.html') Bất động sản quận 8
              li
                a(href='san-pham.html') Bất động sản quận 9
              li
                a(href='san-pham.html') Bất động sản quận 10
              li
                a(href='san-pham.html') Bất động sản quận 11
              li
                a(href='san-pham.html') Bất động sản quận 12
              li
                a(href='san-pham.html') Bất động sản quận 13
              li
                a(href='san-pham.html') Bất động sản quận 14
              li
                a(href='san-pham.html') Bất động sản quận 15
              li
                a(href='san-pham.html') Bất động sản quận 16
              li
                a(href='san-pham.html') Bất động sản quận 17
              li
                a(href='san-pham.html') Bất động sản quận 18
              li
                a(href='san-pham.html') Bất động sản quận 19
              li
                a(href='san-pham.html') Bất động sản quận 20
              li
                a(href='san-pham.html') Bất động sản quận 21
              li
                a(href='san-pham.html') Bất động sản quận 22
              li
                a(href='san-pham.html') Bất động sản quận 23
              li
                a(href='san-pham.html') Bất động sản quận 23
              