<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SAIGONREAL</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>
      <section class="header-top">
        <div class="container">
          <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
          <div class="banner-top"><img src="../img/banner-top.png"/></div>
          <div class="toggleMenu d-block d-md-none"><i class="mdi mdi-menu"></i></div>
          <div class="search-btn d-block d-md-none"><i class="mdi mdi-magnify"></i></div>
        </div>
      </section>
      <section class="menu wow">
        <div class="container">
          <div class="main-menu">
            <ul class="nav">
              <div class="nav-close"><i class="mdi mdi-close d-block d-md-none"></i></div>
              <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ/Home</a></li>
              <li class="nav-item"><a class="nav-link" href="ban.html">BĐS Bán/Sale</a></li>
              <li class="nav-item"><a class="nav-link" href="cho-thue.html">BĐS Cho thuê/RENT</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Tin tức/NEWS</a></li>
              <li class="nav-item"><a class="nav-link" href="dich-vu.html">Kiến trúc/ARCHITECTURE</a></li>
              <li class="nav-item"><a class="nav-link" href="xay-dung.html">Xây dựng/construction</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="overlay-menu"></div>
    </header>
    <article>
    </article>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="company"><img src="../img/logo.png"/>
              <ul>
                <li>Giấy ĐKKD số: 0313969106 Do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp lần đầu ngày 17/08/2016. </li>
                <li>Giấy phép ICP số 16/GP-STTTT do Sở Thông tin và Truyền thông TP. Hồ Chí Minh cấp ngày 24 tháng 4 năm 2017.</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="about">
              <h4>
                 CÔNG TY BẤT ĐỘNG SẢN SAIGONREAL<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, debitis? Animi, explicabo reprehenderit voluptatibus corrupti quibusdam ullam modi nesciunt pariatur unde fuga asperiores architecto, exercitationem aperiam quasi illum culpa? Nobis.</p>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="contact">
              <h4>
                 Thông tin liên hệ<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><i class="mdi mdi-map-outline"></i>Địa chỉ: Lầu 7, tòa nhà Lutaco Tower, Số 173A Nguyễn Văn Trỗi, Phường 11, Q. Phú Nhuận, TP HCM</li>
                <li><i class="mdi mdi-deskphone"></i>Hotline: 0903 236 862 - 0969 980 365</li>
                <li><i class="mdi mdi-email-outline"></i>Email: saigonreal@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyright text-center">
          <h5>Copyright @ 2019 Saigonreal. All Reserved. Designed by Tri Viet</h5>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>