<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SAIGONREAL</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>
      <section class="header-top">
        <div class="container">
          <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
          <div class="banner-top"><img src="../img/banner-top.png"/></div>
          <div class="menu-btn">
            <div class="toggleMenu d-block d-lg-none"><i class="mdi mdi-menu"></i></div>
            <div class="search-btn d-block d-md-none"><i class="mdi mdi-magnify"></i></div>
          </div>
        </div>
      </section>
      <section class="menu wow">
        <div class="container">
          <div class="main-menu">
            <ul class="nav">
              <div class="nav-close"><i class="mdi mdi-close d-block d-lg-none"></i></div>
              <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ/Home</a></li>
              <li class="nav-item"><a class="nav-link" href="san-pham.html">BĐS Bán/Sale</a></li>
              <li class="nav-item"><a class="nav-link" href="san-pham.html">BĐS Cho thuê/RENT</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Tin tức/NEWS</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Kiến trúc/ARCHITECTURE</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Xây dựng/construction</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="overlay-menu"></div>
    </header>
    <div class="hotline"><a href="tel:123456789"><i class="mdi mdi-phone"></i></a></div>
    <article>
      <section class="bread-crumb">
        <div class="container">
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="san-pham.html">Bất động sản bán</a></li>
                <li class="breadcrumb-item active">Chi tiết bất động sản</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="product-page">
        <div class="container">
          <div class="main">
            <div class="page-detail">
              <h3>Bán nhà cấp 4 có gác suốt xã Bình Hưng huyện Bình Chánh tp HCM 30m² giá 650 triệu lh; 0918 998 379</h3>
              <div class="page-detail-info">
                <h5 class="d-inline-block mr-4"><i class="mdi mdi-credit-card"></i>Giá:<span>750 triệu</span></h5>
                <h5 class="d-inline-block"><i class="mdi mdi-floor-plan"></i>Diện tích: 90 m2</h5>
                <h5 class="d-block"><i class="mdi mdi-map-marker-outline"></i>Địa chỉ: Bán nhà riêng tại Đường Nguyễn Văn Linh - Huyện Bình Chánh - Hồ Chí Minh  </h5>
              </div>
              <div class="page-detail-desc">
                <h4>Mô tả bài đăng:</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo maiores iure saepe quis ratione labore molestias accusantium est officiis. Nihil porro minima dolore ducimus assumenda nesciunt facilis incidunt natus possimus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo maiores iure saepe quis ratione labore molestias accusantium est officiis. Nihil porro minima dolore ducimus assumenda nesciunt facilis incidunt natus possimus!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo maiores iure saepe quis ratione labore molestias accusantium est officiis. Nihil porro minima dolore ducimus assumenda nesciunt facilis incidunt natus possimus!</p>
              </div>
              <div class="page-detail-img">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item"><a class="nav-link active" id="photo-tab" data-toggle="tab" href="#photo" role="tab" aria-controls="photo" aria-selected="true"> <i class="mdi mdi-camera-image"></i>Hình ảnh (6)</a></li>
                  <li class="nav-item"><a class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="false"> <i class="mdi mdi-map"></i>Bản đồ</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item" data-hash="img-1"><img src="../img/product-1.png"/></div>
                      <div class="item" data-hash="img-2"><img src="../img/news-1.png"/></div>
                      <div class="item" data-hash="img-3"><img src="../img/search.png"/></div>
                      <div class="item" data-hash="img-4"><img src="../img/product-1.png"/></div>
                      <div class="item" data-hash="img-5"><img src="../img/news-1.png"/></div>
                      <div class="item" data-hash="img-6"><img src="../img/search.png"/></div>
                    </div>
                    <div class="owl-carousel detail-carousel owl-theme"><a class="item" href="#img-1"><img src="../img/product-1.png"/></a><a class="item" href="#img-2"><img src="../img/news-1.png"/></a><a class="item" href="#img-3"><img src="../img/search.png"/></a><a class="item" href="#img-4"><img src="../img/product-1.png"/></a><a class="item" href="#img-5"><img src="../img/news-1.png"/></a><a class="item" href="#img-6"><img src="../img/search.png"/></a></div>
                  </div>
                  <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.302302682128!2d106.59276351526033!3d10.78814276192621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175326f005cf601%3A0x4b0f2e33c5eb3a87!2zQ8O0bmcgVHkgVE5ISCBTWCBUTSB2w6AgRFYgw5QgVMO0IMSQ4bqhaSBUw61u!5e0!3m2!1svi!2s!4v1562035091126!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                  </div>
                </div>
              </div>
              <div class="page-detail-info-bottom">
                <div class="page-detail-info-bottom-box">
                  <h4>Đặc điểm bất động sản</h4>
                  <table class="table-bordered table-striped table">
                    <tr>
                      <td>Loại tin rao</td>
                      <td><b>Bán nhà riêng</b></td>
                    </tr>
                    <tr>
                      <td>Ngày đăng tin</td>
                      <td><b>27/06/2019</b></td>
                    </tr>
                    <tr>
                      <td>Ngày hết hạn</td>
                      <td><b>04/07/2019</b></td>
                    </tr>
                    <tr>
                      <td>Hướng nhà</td>
                      <td><b>KXĐ</b></td>
                    </tr>
                  </table>
                </div>
                <div class="page-detail-info-bottom-box">
                  <h4>Thông tin liên hệ</h4>
                  <table class="table-bordered table-striped table">
                    <tr>
                      <td>Tên liên lạc</td>
                      <td><b>Nguyễn Phong Thái</b></td>
                    </tr>
                    <tr> 
                      <td>Địa chỉ</td>
                      <td><b>Bình Tân - Hồ Chí Minh</b></td>
                    </tr>
                    <tr> 
                      <td>Di động</td>
                      <td><b>0989492675</b></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><b>lam17k1989@gmail.com</b></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="similar">
              <div class="title-page">
                <h4>BẤT ĐỘNG SẢN CÙNG KHU VỰC</h4>
              </div>
              <div class="similar-zone">
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5 class="d-inline-block"><i class="mdi mdi-credit-card"></i> <span>750 triệu</span></h5>
                    <h5 class="d-inline-block"><i class="mdi mdi-floor-plan"></i>90m2</h5>
                    <h5 class="d-block"><i class="mdi mdi-map-marker-outline"></i>Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5 class="d-inline-block"><i class="mdi mdi-credit-card"></i> <span>750 triệu</span></h5>
                    <h5 class="d-inline-block"><i class="mdi mdi-floor-plan"></i>90m2</h5>
                    <h5 class="d-block"><i class="mdi mdi-map-marker-outline"></i>Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5 class="d-inline-block"><i class="mdi mdi-credit-card"></i> <span>750 triệu</span></h5>
                    <h5 class="d-inline-block"><i class="mdi mdi-floor-plan"></i>90m2</h5>
                    <h5 class="d-block"><i class="mdi mdi-map-marker-outline"></i>Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5 class="d-inline-block"><i class="mdi mdi-credit-card"></i> <span>750 triệu</span></h5>
                    <h5 class="d-inline-block"><i class="mdi mdi-floor-plan"></i>90m2</h5>
                    <h5 class="d-block"><i class="mdi mdi-map-marker-outline"></i>Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5 class="d-inline-block"><i class="mdi mdi-credit-card"></i> <span>750 triệu</span></h5>
                    <h5 class="d-inline-block"><i class="mdi mdi-floor-plan"></i>90m2</h5>
                    <h5 class="d-block"><i class="mdi mdi-map-marker-outline"></i>Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5 class="d-inline-block"><i class="mdi mdi-credit-card"></i> <span>750 triệu</span></h5>
                    <h5 class="d-inline-block"><i class="mdi mdi-floor-plan"></i>90m2</h5>
                    <h5 class="d-block"><i class="mdi mdi-map-marker-outline"></i>Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5 class="d-inline-block"><i class="mdi mdi-credit-card"></i> <span>750 triệu</span></h5>
                    <h5 class="d-inline-block"><i class="mdi mdi-floor-plan"></i>90m2</h5>
                    <h5 class="d-block"><i class="mdi mdi-map-marker-outline"></i>Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="right-search">
              <div class="box-search-type">
                <h4 class="active">bđs bán</h4>
                <h4>bđs cho thuê</h4>
              </div>
              <div class="box-search-form">
                <input type="text" placeholder="Nhập địa điểm, địa chỉ . . ."/>
                <select>
                  <option value="">Loại bất động sản</option>
                  <option value="">Nhà</option>
                  <option value="">Đất</option>
                  <option value="">Biệt thự</option>
                </select>
                <select>
                  <option value="">Tỉnh / Thành phố</option>
                  <option value="">TP. Hồ Chí Minh</option>
                  <option value="">Hà Nội</option>
                  <option value="">Đà Nẵng</option>
                </select>
                <select>
                  <option value="">Quận / Huyện</option>
                  <option value="">Quận 1</option>
                  <option value="">Quận 2</option>
                  <option value="">Quận 3</option>
                </select>
                <select>
                  <option value="">Phường / Xã</option>
                  <option value="">Phường An Phú</option>
                  <option value="">Phường Mỹ Đình 2</option>
                  <option value="">Phường Thạnh Mỹ Lợi</option>
                </select>
                <select>
                  <option value="">Đường / Phố</option>
                  <option value="">Đường Nguyễn Thái Bình</option>
                  <option value="">Phố Huế</option>
                  <option value="">Đường Nguyễn Thị Định</option>
                </select>
                <button type="submit">Tìm kiếm</button>
              </div>
            </div>
            <div class="product-ward">
              <div class="title-page">
                <h4>BẤT ĐỘNG SẢN THEO QUẬN</h4>
              </div>
              <div class="product-ward-zone">
                <ul>
                  <li><a href="san-pham.html">Bất động sản quận 1</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 2</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 3</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 4</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 5</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 6</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 7</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 8</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 9</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 10</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 11</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 12</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 13</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 14</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 15</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 16</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 17</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 18</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 19</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 20</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 21</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 22</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 23</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 23</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="company"><img src="../img/logo.png"/>
              <ul>
                <li>Giấy ĐKKD số: 0313969106 Do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp lần đầu ngày 17/08/2016. </li>
                <li>Giấy phép ICP số 16/GP-STTTT do Sở Thông tin và Truyền thông TP. Hồ Chí Minh cấp ngày 24 tháng 4 năm 2017.</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="about">
              <h4>
                 CÔNG TY BẤT ĐỘNG SẢN SAIGONREAL<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, debitis? Animi, explicabo reprehenderit voluptatibus corrupti quibusdam ullam modi nesciunt pariatur unde fuga asperiores architecto, exercitationem aperiam quasi illum culpa? Nobis.</p>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="contact">
              <h4>
                 Thông tin liên hệ<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><i class="mdi mdi-map-outline"></i>Địa chỉ: Lầu 7, tòa nhà Lutaco Tower, Số 173A Nguyễn Văn Trỗi, Phường 11, Q. Phú Nhuận, TP HCM</li>
                <li><i class="mdi mdi-deskphone"></i>Hotline: 0903 236 862 - 0969 980 365</li>
                <li><i class="mdi mdi-email-outline"></i>Email: saigonreal@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyright text-center">
          <h5>Copyright @ 2019 Saigonreal. All Reserved. Designed by Tri Viet</h5>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>