<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SAIGONREAL</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>
      <section class="header-top">
        <div class="container">
          <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
          <div class="banner-top"><img src="../img/banner-top.png"/></div>
          <div class="toggleMenu d-block d-md-none"><i class="mdi mdi-menu"></i></div>
          <div class="search-btn d-block d-md-none"><i class="mdi mdi-magnify"></i></div>
        </div>
      </section>
      <section class="menu wow">
        <div class="container">
          <div class="main-menu">
            <ul class="nav">
              <div class="nav-close"><i class="mdi mdi-close d-block d-md-none"></i></div>
              <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ/Home</a></li>
              <li class="nav-item"><a class="nav-link" href="ban.html">BĐS Bán/Sale</a></li>
              <li class="nav-item"><a class="nav-link" href="cho-thue.html">BĐS Cho thuê/RENT</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Tin tức/NEWS</a></li>
              <li class="nav-item"><a class="nav-link" href="dich-vu.html">Kiến trúc/ARCHITECTURE</a></li>
              <li class="nav-item"><a class="nav-link" href="xay-dung.html">Xây dựng/construction</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="overlay-menu"></div>
    </header>
    <article>
      <section class="search">
        <div class="box-search">
          <div class="box-search-type">
            <h4 class="active">bất động sản bán</h4>
            <h4>bất động sản cho thuê</h4>
          </div>
          <div class="box-search-form">
            <input type="text" placeholder="Nhập địa điểm, địa chỉ . . ."/>
            <select>
              <option value="">Loại bất động sản</option>
              <option value="">Nhà</option>
              <option value="">Đất</option>
              <option value="">Biệt thự</option>
            </select>
            <select>
              <option value="">Tỉnh / Thành phố</option>
              <option value="">TP. Hồ Chí Minh</option>
              <option value="">Hà Nội</option>
              <option value="">Đà Nẵng</option>
            </select>
            <select>
              <option value="">Quận / Huyện</option>
              <option value="">Quận 1</option>
              <option value="">Quận 2</option>
              <option value="">Quận 3</option>
            </select>
            <select>
              <option value="">Phường / Xã</option>
              <option value="">Phường An Phú</option>
              <option value="">Phường Mỹ Đình 2</option>
              <option value="">Phường Thạnh Mỹ Lợi</option>
            </select>
            <select>
              <option value="">Đường / Phố</option>
              <option value="">Đường Nguyễn Thái Bình</option>
              <option value="">Phố Huế</option>
              <option value="">Đường Nguyễn Thị Định</option>
            </select>
            <button type="submit">Tìm kiếm</button>
          </div>
        </div>
      </section>
      <section class="article-top">
        <div class="container">
          <div class="left">
            <div class="hot-news">
              <div class="title-page">
                <h4>tin tức nổi bật</h4><a href="tin-tuc.html">Xem tất cả tin tức<i class="mdi mdi-arrow-right"></i></a>
              </div>
              <div class="hot-news-zone">
                <div class="box-hot-news">
                  <div class="box-hot-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-hot-news-detail">
                    <h5><a href="chi-tiet-tin-tuc.html" title="Basketball Stars Face Off in Ultimate Playoff Beard Battle">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a></h5>
                    <h6>27/06/2019</h6>
                    <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                  </div>
                  <div class="box-hot-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
                </div>
                <div class="box-hot-news">
                  <div class="box-hot-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-hot-news-detail">
                    <h5><a href="chi-tiet-tin-tuc.html" title="Basketball Stars Face Off in Ultimate Playoff Beard Battle">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a></h5>
                    <h6>27/06/2019</h6>
                    <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                  </div>
                  <div class="box-hot-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
                </div>
                <div class="box-hot-news">
                  <div class="box-hot-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-hot-news-detail">
                    <h5><a href="chi-tiet-tin-tuc.html" title="Basketball Stars Face Off in Ultimate Playoff Beard Battle">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a></h5>
                    <h6>27/06/2019</h6>
                    <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                  </div>
                  <div class="box-hot-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
                </div>
                <div class="box-hot-news">
                  <div class="box-hot-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-hot-news-detail">
                    <h5><a href="chi-tiet-tin-tuc.html" title="Basketball Stars Face Off in Ultimate Playoff Beard Battle">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a></h5>
                    <h6>27/06/2019</h6>
                    <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                  </div>
                  <div class="box-hot-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
                </div>
                <div class="box-hot-news">
                  <div class="box-hot-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-hot-news-detail">
                    <h5><a href="chi-tiet-tin-tuc.html" title="Basketball Stars Face Off in Ultimate Playoff Beard Battle">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a></h5>
                    <h6>27/06/2019</h6>
                    <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                  </div>
                  <div class="box-hot-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
                </div>
                <div class="box-hot-news">
                  <div class="box-hot-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-hot-news-detail">
                    <h5><a href="chi-tiet-tin-tuc.html" title="Basketball Stars Face Off in Ultimate Playoff Beard Battle">Basketball Stars Face Off in Ultimate Playoff Beard Battle</a></h5>
                    <h6>27/06/2019</h6>
                    <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                  </div>
                  <div class="box-hot-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
                </div>
              </div>
            </div>
            <div class="product-new">
              <div class="title-page">
                <h4>Bất động sản mới nhất</h4>
              </div>
              <div class="product-new-zone">
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5><i class="mdi mdi-credit-card"></i>Giá:<span>750 triệu</span></h5>
                    <h5> <i class="mdi mdi-floor-plan"></i>Diện tích: 90m2</h5>
                    <h5><i class="mdi mdi-map-marker-outline"></i>Địa chỉ: Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                  <div class="box-product-date">
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5><i class="mdi mdi-credit-card"></i>Giá:<span>750 triệu</span></h5>
                    <h5> <i class="mdi mdi-floor-plan"></i>Diện tích: 90m2</h5>
                    <h5><i class="mdi mdi-map-marker-outline"></i>Địa chỉ: Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                  <div class="box-product-date">
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5><i class="mdi mdi-credit-card"></i>Giá:<span>750 triệu</span></h5>
                    <h5> <i class="mdi mdi-floor-plan"></i>Diện tích: 90m2</h5>
                    <h5><i class="mdi mdi-map-marker-outline"></i>Địa chỉ: Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                  <div class="box-product-date">
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5><i class="mdi mdi-credit-card"></i>Giá:<span>750 triệu</span></h5>
                    <h5> <i class="mdi mdi-floor-plan"></i>Diện tích: 90m2</h5>
                    <h5><i class="mdi mdi-map-marker-outline"></i>Địa chỉ: Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                  <div class="box-product-date">
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5><i class="mdi mdi-credit-card"></i>Giá:<span>750 triệu</span></h5>
                    <h5> <i class="mdi mdi-floor-plan"></i>Diện tích: 90m2</h5>
                    <h5><i class="mdi mdi-map-marker-outline"></i>Địa chỉ: Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                  <div class="box-product-date">
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5><i class="mdi mdi-credit-card"></i>Giá:<span>750 triệu</span></h5>
                    <h5> <i class="mdi mdi-floor-plan"></i>Diện tích: 90m2</h5>
                    <h5><i class="mdi mdi-map-marker-outline"></i>Địa chỉ: Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                  <div class="box-product-date">
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-product"> 
                  <div class="box-product-img" title="Kéo sang để xem ảnh tiếp theo">
                    <div class="owl-carousel slider-carousel owl-theme">
                      <div class="item"><img src="../img/product-1.png"/></div>
                      <div class="item"><img src="../img/news-1.png"/></div>
                      <div class="item"><img src="../img/search.png"/></div>
                    </div>
                  </div>
                  <div class="box-product-detail">
                    <h4> <a href="chi-tiet-san-pham.html">Bán nhà ngõ 190 đường Hoàng Mai, 50m2, Ôtô đỗ cửa Ngày đêm, 4 phòng ngủ, Giá 4,1 tỷ</a></h4>
                    <h5><i class="mdi mdi-credit-card"></i>Giá:<span>750 triệu</span></h5>
                    <h5> <i class="mdi mdi-floor-plan"></i>Diện tích: 90m2</h5>
                    <h5><i class="mdi mdi-map-marker-outline"></i>Địa chỉ: Bình Thanh - TP.Hồ Chí Minh</h5>
                  </div>
                  <div class="box-product-date">
                    <h6>27/06/2019</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="product-view">
              <div class="title-page">
                <h4>BĐS xem nhiều</h4>
              </div>
              <div class="product-view-zone">
                <ul>
                  <li><a href="chi-tiet-san-pham.html" title="Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447">Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447</a></li>
                  <li><a href="chi-tiet-san-pham.html" title="Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447">Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447</a></li>
                  <li><a href="chi-tiet-san-pham.html" title="Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447">Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447</a></li>
                  <li><a href="chi-tiet-san-pham.html" title="Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447">Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447</a></li>
                  <li><a href="chi-tiet-san-pham.html" title="Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447">Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447</a></li>
                  <li><a href="chi-tiet-san-pham.html" title="Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447">Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447</a></li>
                  <li><a href="chi-tiet-san-pham.html" title="Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447">Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447</a></li>
                  <li><a href="chi-tiet-san-pham.html" title="Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447">Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447</a></li>
                  <li><a href="chi-tiet-san-pham.html" title="Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447">Bán đất đường An Hạ, 90m2, gần cầu Xáng, 750 triệu LH 0981442447</a></li>
                </ul>
              </div>
            </div>
            <div class="social">
              <div class="title-page">
                <h4>Theo dõi chúng tôi</h4>
              </div>
              <div class="social-zone">
                <div class="box-social facebook">
                  <div class="box-social-name"><i class="mdi mdi-facebook"></i><span>Facebook</span></div>
                  <div class="box-social-btn"><a href="#">Thích</a></div>
                </div>
                <div class="box-social youtube">
                  <div class="box-social-name"><i class="mdi mdi-youtube"></i><span>Youtube</span></div>
                  <div class="box-social-btn"><a href="#">Đăng ký</a></div>
                </div>
                <div class="box-social instagram">
                  <div class="box-social-name"><i class="mdi mdi-instagram"></i><span>Instagram</span></div>
                  <div class="box-social-btn"><a href="#">Theo dõi</a></div>
                </div>
              </div>
            </div>
            <div class="product-ward">
              <div class="title-page">
                <h4>BẤT ĐỘNG SẢN THEO QUẬN</h4>
              </div>
              <div class="product-ward-zone">
                <ul>
                  <li><a href="san-pham.html">Bất động sản quận 1</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 2</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 3</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 4</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 5</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 6</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 7</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 8</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 9</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 10</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 11</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 12</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 13</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 14</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 15</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 16</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 17</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 18</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 19</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 20</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 21</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 22</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 23</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 23</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="news-letter">
        <div class="box-news-letter">
          <h3>ĐĂNG KÝ EMAIL ĐỂ NHẬN TIN KHI CÓ BẤT ĐỘNG SẢN MỚI NGAY !</h3>
          <form>
            <input type="email" placeholder="Email của bạn . . ."/>
            <select>
              <option value="">Hình thức BĐS</option>
              <option value="">Bất động sản bán</option>
              <option value="">Bất động sản cho thuê</option>
            </select>
            <select>
              <option value="">Vị trí quan tâm</option>
              <option value="">Quận 1</option>
              <option value="">Quận 2</option>
              <option value="">Quận 12</option>
              <option value="">Quận Hoàng Mai</option>
            </select>
            <button type="submit">Đăng ký ngay<i class="mdi mdi-send"></i></button>
          </form>
        </div>
      </section>
      <section class="article-bottom">
        <div class="container">
          <div class="article-bottom-zone">
            <div class="box">
              <div class="title-page">
                <h4>KIẾN TRÚC</h4><a href="tin-tuc.html">Xem tất cả kiến trúc<i class="mdi mdi-arrow-right"></i></a>
              </div>
              <div class="box-zone">
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/product-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/search.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="title-page">
                <h4>XÂY DỰNG</h4><a href="tin-tuc.html">Xem tất cả xây dựng<i class="mdi mdi-arrow-right"></i></a>
              </div>
              <div class="box-zone">
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
                <div class="box-news">
                  <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                  <div class="box-news-detail">
                    <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                    <h6>27/06/2019</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="company"><img src="../img/logo.png"/>
              <ul>
                <li>Giấy ĐKKD số: 0313969106 Do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp lần đầu ngày 17/08/2016. </li>
                <li>Giấy phép ICP số 16/GP-STTTT do Sở Thông tin và Truyền thông TP. Hồ Chí Minh cấp ngày 24 tháng 4 năm 2017.</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="about">
              <h4>
                 CÔNG TY BẤT ĐỘNG SẢN SAIGONREAL<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, debitis? Animi, explicabo reprehenderit voluptatibus corrupti quibusdam ullam modi nesciunt pariatur unde fuga asperiores architecto, exercitationem aperiam quasi illum culpa? Nobis.</p>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="contact">
              <h4>
                 Thông tin liên hệ<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><i class="mdi mdi-map-outline"></i>Địa chỉ: Lầu 7, tòa nhà Lutaco Tower, Số 173A Nguyễn Văn Trỗi, Phường 11, Q. Phú Nhuận, TP HCM</li>
                <li><i class="mdi mdi-deskphone"></i>Hotline: 0903 236 862 - 0969 980 365</li>
                <li><i class="mdi mdi-email-outline"></i>Email: saigonreal@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyright text-center">
          <h5>Copyright @ 2019 Saigonreal. All Reserved. Designed by Tri Viet</h5>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>