<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>SAIGONREAL</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/mdb.min.css"/>
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <link rel="stylesheet" href="../css/materialdesignicons.min.css"/>
    <link rel="stylesheet" href="../css/layout.css"/>
    <link rel="shortcut icon" href="../img/favicon.png"/>
  </head>
  <body>
    <div class="go-top" title="Lên đầu trang"><span></span><span></span></div>
    <header>
      <section class="header-top">
        <div class="container">
          <div class="logo"><a href="index.html"><img src="../img/logo.png"/></a></div>
          <div class="banner-top"><img src="../img/banner-top.png"/></div>
          <div class="menu-btn">
            <div class="toggleMenu d-block d-lg-none"><i class="mdi mdi-menu"></i></div>
            <div class="search-btn d-block d-md-none"><i class="mdi mdi-magnify"></i></div>
          </div>
        </div>
      </section>
      <section class="menu wow">
        <div class="container">
          <div class="main-menu">
            <ul class="nav">
              <div class="nav-close"><i class="mdi mdi-close d-block d-lg-none"></i></div>
              <li class="nav-item"><a class="nav-link" href="index.html">Trang chủ/Home</a></li>
              <li class="nav-item"><a class="nav-link" href="san-pham.html">BĐS Bán/Sale</a></li>
              <li class="nav-item"><a class="nav-link" href="san-pham.html">BĐS Cho thuê/RENT</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Tin tức/NEWS</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Kiến trúc/ARCHITECTURE</a></li>
              <li class="nav-item"><a class="nav-link" href="tin-tuc.html">Xây dựng/construction</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div class="overlay-menu"></div>
    </header>
    <div class="hotline"><a href="tel:123456789"><i class="mdi mdi-phone"></i></a></div>
    <article>
      <section class="bread-crumb">
        <div class="container">
          <div class="bc-icons">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                <li class="breadcrumb-item active">Tin tức</li>
              </ol>
            </nav>
          </div>
        </div>
      </section>
      <section class="product-page">
        <div class="container">
          <div class="main">
            <div class="title-page">
              <h4>Tin tức</h4>
            </div>
            <div class="news-page">
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                  <h6>27/06/2019</h6>
                  <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                </div>
                <div class="box-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
              </div>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                  <h6>27/06/2019</h6>
                  <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                </div>
                <div class="box-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
              </div>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                  <h6>27/06/2019</h6>
                  <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                </div>
                <div class="box-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
              </div>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                  <h6>27/06/2019</h6>
                  <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                </div>
                <div class="box-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
              </div>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                  <h6>27/06/2019</h6>
                  <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                </div>
                <div class="box-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
              </div>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                  <h6>27/06/2019</h6>
                  <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                </div>
                <div class="box-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
              </div>
              <div class="box-news">
                <div class="box-news-img"><a href="chi-tiet-tin-tuc.html"><img src="../img/news-1.png"/></a></div>
                <div class="box-news-detail">
                  <h4><a href="chi-tiet-tin-tuc.html" title="Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái">Ngôi nhà thiết kế cách điệu có thể tiếp khách trên mái</a></h4>
                  <h6>27/06/2019</h6>
                  <p>Prince Edward Island, Canada Prince Edward Island is a Canadian province. It is one of the three Maritime provinces and it is the smallest in...</p>
                </div>
                <div class="box-news-btn"><a href="chi-tiet-tin-tuc.html">Xem thêm<i class="mdi mdi-arrow-right"></i></a></div>
              </div>
            </div>
            <div class="main-paging">
              <nav>
                <ul class="pagination justify-content-end">
                  <li><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span><span class="sr-only">Previous</span></a></li>
                  <li><a class="page-link active" href="#">1</a></li>
                  <li><a class="page-link" href="#">2</a></li>
                  <li><a class="page-link" href="#">3</a></li>
                  <li><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span><span class="sr-only">Next </span></a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="right">
            <div class="right-search">
              <div class="box-search-type">
                <h4 class="active">bđs bán</h4>
                <h4>bđs cho thuê</h4>
              </div>
              <div class="box-search-form">
                <input type="text" placeholder="Nhập địa điểm, địa chỉ . . ."/>
                <select>
                  <option value="">Loại bất động sản</option>
                  <option value="">Nhà</option>
                  <option value="">Đất</option>
                  <option value="">Biệt thự</option>
                </select>
                <select>
                  <option value="">Tỉnh / Thành phố</option>
                  <option value="">TP. Hồ Chí Minh</option>
                  <option value="">Hà Nội</option>
                  <option value="">Đà Nẵng</option>
                </select>
                <select>
                  <option value="">Quận / Huyện</option>
                  <option value="">Quận 1</option>
                  <option value="">Quận 2</option>
                  <option value="">Quận 3</option>
                </select>
                <select>
                  <option value="">Phường / Xã</option>
                  <option value="">Phường An Phú</option>
                  <option value="">Phường Mỹ Đình 2</option>
                  <option value="">Phường Thạnh Mỹ Lợi</option>
                </select>
                <select>
                  <option value="">Đường / Phố</option>
                  <option value="">Đường Nguyễn Thái Bình</option>
                  <option value="">Phố Huế</option>
                  <option value="">Đường Nguyễn Thị Định</option>
                </select>
                <button type="submit">Tìm kiếm</button>
              </div>
            </div>
            <div class="product-ward">
              <div class="title-page">
                <h4>BẤT ĐỘNG SẢN THEO QUẬN</h4>
              </div>
              <div class="product-ward-zone">
                <ul>
                  <li><a href="san-pham.html">Bất động sản quận 1</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 2</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 3</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 4</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 5</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 6</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 7</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 8</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 9</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 10</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 11</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 12</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 13</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 14</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 15</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 16</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 17</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 18</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 19</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 20</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 21</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 22</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 23</a></li>
                  <li><a href="san-pham.html">Bất động sản quận 23</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    <section class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6">
            <div class="company"><img src="../img/logo.png"/>
              <ul>
                <li>Giấy ĐKKD số: 0313969106 Do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp lần đầu ngày 17/08/2016. </li>
                <li>Giấy phép ICP số 16/GP-STTTT do Sở Thông tin và Truyền thông TP. Hồ Chí Minh cấp ngày 24 tháng 4 năm 2017.</li>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="about">
              <h4>
                 CÔNG TY BẤT ĐỘNG SẢN SAIGONREAL<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, debitis? Animi, explicabo reprehenderit voluptatibus corrupti quibusdam ullam modi nesciunt pariatur unde fuga asperiores architecto, exercitationem aperiam quasi illum culpa? Nobis.</p>
              </ul>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-sm-6">
            <div class="contact">
              <h4>
                 Thông tin liên hệ<i class="mdi mdi-chevron-down"></i></h4>
              <ul>
                <li><i class="mdi mdi-map-outline"></i>Địa chỉ: Lầu 7, tòa nhà Lutaco Tower, Số 173A Nguyễn Văn Trỗi, Phường 11, Q. Phú Nhuận, TP HCM</li>
                <li><i class="mdi mdi-deskphone"></i>Hotline: 0903 236 862 - 0969 980 365</li>
                <li><i class="mdi mdi-email-outline"></i>Email: saigonreal@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyright text-center">
          <h5>Copyright @ 2019 Saigonreal. All Reserved. Designed by Tri Viet</h5>
        </div>
      </div>
    </section>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/mdb.min.js"></script>
    <script src="../js/owl.carousel.min.js"></script>
    <script src="../js/layout.js"></script>
  </body>
</html>